{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}


{% block body %}

<style type="text/css">
.form-group {
 margin-bottom: 10px;
}
</style>
<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">

    {{ form_start(form) }}
    <legend>{{ title }}</legend>

    <div class="my-custom-class-for-errors">
      {{ form_errors(form) }}
    </div>

    <fieldset>
      <div class="form-group">          
        {{ form_row(form.name) }}
      </div>

      <!-- Text input-->
      <div class="form-group">
        {{ form_row(form.category) }}

      </div>

      <div class="form-group">
        {{ form_row(form.number) }}

      </div>

    </fieldset>



    {{ form_end(form) }}
    
  </div>
</div>

{% endblock %}
